body {
	background-color: #0d0d0d;
	color: white;
	margin: 0;
    padding: 20px;
	font-family: 'Atkinson Hyperlegible Mono', monospace;
}
hr {
	height: 5px;
	width: 100%;
	border: none;
	background-color: #FFFFFF;
}
h1 {font-size: 60px;}
h2 {font-size: 30px;}
a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #f0f0f0;
	color: #333;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 25px;
	transition: background 0.3s, color 0.3s;
}
a:hover {
	background-color: #ddd;
	color: #000;
}
p {
	font-size: 19px;
}
li {
	font-size: 19px;
}
.full-width-hr {
    margin: 0;
    padding: 0;
}
.full-width-hr hr {
    width: 100vw;
    height: 5px;
    background-color: white;
    border: none;
    margin-left: -20px;
}